<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/electronics_shop</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <property name="show_sql">true</property>


        <mapping class="entities.Device"/>
        <mapping class="entities.Phone"/>
        <mapping class="entities.Laptop"/>
        <mapping class="entities.Camera"/>
        <mapping class="entities.ShopAddress"/>
        <mapping class="entities.LocatedAt"/>
        <mapping class="entities.Administrator"/>
        <mapping class="entities.Zakaz"/>
        <mapping class="entities.Client"/>
    </session-factory>
</hibernate-configuration>